@model PlanoContaModel

@{ 
    var vId = 0;
    var vDescricao = "";
    var vTipo = "";

    try
    {
        vId = int.Parse(@ViewBag.Registro.Id.ToString());
        vDescricao = @ViewBag.Registro.Descricao.ToString();
        vTipo = @ViewBag.Registro.Tipo.ToString();
    }
    catch (Exception ex)
    {
        
    }
}

<h3>Criar novo Plano de Conta</h3>

<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
    <input type="hidden" asp-for="Id" value="@vId" />
    <div class="form-group">
        <label>Descrição: </label>
        <input type="text" class="form-control" asp-for="Descricao" value="@vDescricao">
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label>Tipo: </label>
        @{
            if (vTipo == "R")
            {
                <div class="radio">
                    <label><input type="radio" asp-for="Tipo" value="R" checked>Receita</label>
                    <label><input type="radio" asp-for="Tipo" value="D" unchecked>Despesa</label>
                </div>
            }
            else
            {
                <div class="radio">
                    <label><input type="radio" asp-for="Tipo" value="R" unchecked>Receita</label>
                    <label><input type="radio" asp-for="Tipo" value="D" checked>Despesa</label>
                </div>

            }
        }


    </div>
    <button type="submit" class="btn btn-block btn-success">Salvar</button>


</form>